body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#333e48;
}
*{
    text-align: center;
}
.free-font{
    font-size:15px;
}
.logo{
    margin:10px;
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
}
.logo > div:nth-child(1) {
    left: 10px;
    width: 80px;
    height: 70px;
    position: absolute;
}
.logo > div:nth-child(2) {
    right: 10%;
    position: absolute;
}
.logo > div > a > button {
    width: 80px;
    height: 40px;
    border: 2px solid #333E48;;
    background-color: white;
    border-radius:2px;
    cursor: pointer;
}
.Account{
    
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    margin: 5px auto;
}
.SignUp{
    
    background-color: #fff;
   width: 470px;
   margin:auto;
    display: flex;
 

}
.SignUp > div:nth-child(1) {
    height: 0px;
    width: 130px;
    border: 0.1px solid #333e48;
   
    top: 25px;
    left: 300px;
}
.SignUp > div:nth-child(3) {
    height: 0px;
    width: 150px;
    border: 0.1px solid #333e48;
   
    top: 25px;
    right: 300px;

}
.SignUp > div:nth-child(2) {
    width: 200px;
    height: 10px;
}
.SignUp > div:nth-child(2)>p{
    margin:0;
    position: relative;
    top:-10px;
}
form{
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    min-height: 450px;
}
form > input , form > button{
    height: 40px;
    width: 90%;
    margin: 15px;
    text-align: left;
    font-size: 20px;
    appearance: none;
}
form > input{
    border:0;
    background-color:#edeeee;
    border-radius: 3px;
    padding-left:15px;
    font-size: 15px;
    outline:none;
    /* outline-color: green; */
    /* border:0.1px solid red; */
}
form > input:nth-of-type(4), form > input:nth-of-type(5){
    height: 40px;
    width: 40%;
    /* float: left; */
}
form > button{
    border-radius: 3px;
    border:0px;
    outline: none;
    width:95%;
    font-size: 16px;
    height: 50px;
}
button{
    background-color: #00bf6f;
    border-color: #00bf6f;
    color: white;
}
.missing {
    color: #F05B24;
    font-size: 13px;
    margin-top: 0;
    padding: 0 12px
}
.Adjust{
    height: 40px;
    position: relative;
    top: -100px;
}
.logo2{
    /* position: relative;
    height: 100px;
    width: 400px;
    left: 35%;
    top: -80px;
    display: flex;
    position: relative; */
    height: 100px;
    width: 500px;
    /* left: 35%; */
  
    display: flex;
    margin: auto;
    justify-content: center;
}
.logo2 > div {
    width: 44px;
    height: 44px;
    margin: 3%;
    margin-top: 5%;
    cursor: pointer;
    border-radius: 22px;
    background-color: lightgray;
}
.logo2 > div >a>img{
    width:18px;
    height: 18px;
}
.LastLogo{
    position: relative;
    /* height: 100px; */
    width: 300px;
    /* left: 42%; */
    display: flex;
    margin:auto;
}
.LastLogo > div {
    width:40% ;
    height: 60px;
    margin: 4%;
}
.img {
width: 93px;
height: 33px;
}